attrs>=17.4.0
Automat==0.6.0
constantly==15.1.0
enum34==1.1.6
hyperlink==17.3.1
incremental==17.5.0
protobuf==3.4.0
py==1.4.34
pycryptodome>=3.6.6
pytest==3.2.3
six==1.11.0
twisted>=19.7.0
zope.interface==4.4.3
web.py>=0.38
txsocksx==1.15.0.2
